@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?nu5w7k');
  src:  url('fonts/icomoon.eot?nu5w7k#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?nu5w7k') format('truetype'),
    url('fonts/icomoon.woff?nu5w7k') format('woff'),
    url('fonts/icomoon.svg?nu5w7k#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-hezuohuoban_ico_8:before {
  content: "\e90b";
}
.icon-hezuohuoban_ico_7:before {
  content: "\e90c";
}
.icon-hezuohuoban_ico_6:before {
  content: "\e90d";
}
.icon-hezuohuoban_ico_5:before {
  content: "\e90e";
}
.icon-hezuohuoban_ico_4:before {
  content: "\e90f";
}
.icon-hezuohuoban_ico_3:before {
  content: "\e910";
}
.icon-hezuohuoban_ico_2:before {
  content: "\e911";
}
.icon-hezuohuoban_ico_1 .path1:before {
  content: "\e912";
  color: rgb(51, 51, 51);
}
.icon-hezuohuoban_ico_1 .path2:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-hezuohuoban_ico_1 .path3:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-hezuohuoban_ico_1 .path4:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-hezuohuoban_ico_1 .path5:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-hezuohuoban_ico_1 .path6:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-hezuohuoban_ico_1 .path7:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-hezuohuoban_ico_1 .path8:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-hezuohuoban_ico_1 .path9:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-hezuohuoban_ico_1 .path10:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-hezuohuoban_ico_1 .path11:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-hezuohuoban_ico_1 .path12:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-itwaibao_ico_2:before {
  content: "\e90a";
}
.icon-itwaibao_ico_5:before {
  content: "\e901";
}
.icon-itwaibao_ico_6:before {
  content: "\e902";
}
.icon-helpdesk_ico_2:before {
  content: "\e906";
}
.icon-helpdesk_ico_3:before {
  content: "\e907";
}
.icon-helpdesk_ico_4:before {
  content: "\e908";
}
.icon-helpdesk_ico_1:before {
  content: "\e909";
}
.icon-home:before {
  content: "\e900";
}
.icon-phone:before {
  content: "\e942";
}
.icon-envelop:before {
  content: "\e945";
}
.icon-database:before {
  content: "\e964";
}
.icon-equalizer2:before {
  content: "\e993";
}
.icon-earth:before {
  content: "\e9ca";
}

